# 强制使用 Codeup 私有 npm 制品库
registry=https://npm.cnb.cool/microti/647/data-tools-package/-/packages/
always-auth=true

# 认证令牌
//npm.cnb.cool/microti/647/data-tools-package/-/packages/:_authToken=c93VPkiltAbNl1b7aO7fXqwjNqG

# 确保 publish 也使用正确的 registry
publish-registry=https://npm.cnb.cool/microti/647/data-tools-package/-/packages/
